@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
    font-family: 'Montserrat', sans-serif;
    color: white;
}

body {
    display: block;
    background-color: black;
    color: white;
    text-align: center;
    margin: 100px auto 0 auto;
    max-width: 600px;
}

body p {
    padding: 5px
}

.time {
    position: absolute;
    top: 10px;
    left: 10px;
    border: solid 2px hotpink;
    padding: 5px;
}
a {
    text-decoration: none;
    color: black;
}

button {
    cursor: pointer;
    display: inline-block;
    font-size: 100%;
    background-color: rgb(255, 255, 255);
    color: black;
    border: 5px;
    padding: 10px;
    margin: 10px;
    border-radius: 45%;
}

button:hover {
    background-color: rgb(236, 0, 118);
    transition: ease .5s;
}


.questions button {
    display: block;
}





.hide {
    display: none;
}

.show {
    display: flex;
    justify-content: center;
    max-width: 600px;
    margin: 100px auto 0 auto;

}

img {
    max-width: 200px;
}
